@import "tailwindcss";
@plugin '@tailwindcss/typography';
@config "../../tailwind.config.mjs";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: Inter, sans-serif;
  --font-mono: "Fira Code", monospace;
}

html.dark .astro-code,
html.dark .astro-code span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: normal !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

html .astro-code,
html .astro-code span {
  color: var(--shiki-light) !important;
  background-color: var(--shiki-light-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-light-font-style) !important;
  font-weight: var(--shiki-light-font-weight) !important;
  text-decoration: var(--shiki-light-text-decoration) !important;
}

@utility line-y {
  @apply after:-left-[100vw] after:absolute after:bottom-0 after:h-px after:w-[200vw] before:-left-[100vw] before:absolute before:h-px before:top-0 before:w-[200vw] dark:after:bg-white/10 dark:before:bg-white/10 relative;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.blink {
  animation: blink 0.75s step-start 0s infinite;
}
