@import "tailwindcss";
@plugin '@tailwindcss/typography';
@config "../../tailwind.config.mjs";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bgDark: #191724;
  --color-surfaceDark: #1f1d2e;
  --color-overlayDark: #26233a;
  --color-mutedDark: #6e6a86;
  --color-subtleDark: #908caa;
  --color-textDark: #e0def4;
  --color-loveDark: #eb6f92;
  --color-goldDark: #f6c177;
  --color-roseDark: #ebbcba;
  --color-pineDark: #31748f;
  --color-foamDark: #9ccfd8;
  --color-irisDark: #c4a7e7;
  --color-highlightLowDark: #21202e;
  --color-highlightMedDark: #403d52;
  --color-highlightHighDark: #524f67;
  --color-bg: #faf4ed;
  --color-surface: #fffaf3;
  --color-overlay: #f2e9e1;
  --color-muted: #9893a5;
  --color-subtle: #797593;
  --color-text: #575279;
  --color-love: #b4637a;
  --color-gold: #ea9d34;
  --color-rose: #d7827e;
  --color-pine: #286983;
  --color-foam: #56949f;
  --color-iris: #907aa9;
  --color-highlightLow: #f4ede8;
  --color-highlightMed: #dfdad9;
  --color-highlightHigh: #cecacd;

  --font-roboto: FiraCode, monospace;

  --shadow-large: 6px 6px 0px 0px #cecacd;
  --shadow-largeDark: 6px 6px 0px 0px #524f67;
}

html.dark .astro-code,
html.dark .astro-code span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

html .astro-code,
html .astro-code span {
  color: var(--shiki-light) !important;
  background-color: var(--shiki-light-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-light-font-style) !important;
  font-weight: var(--shiki-light-font-weight) !important;
  text-decoration: var(--shiki-light-text-decoration) !important;
}
