---
import Base from "@layouts/Base.astro";
import page_colors from "@config/page_colors.json";
import Section from "@components/Section.astro";
import H1 from "@components/H1.astro";
import P from "@components/P.astro";

const title = "Impressum";
const accent = page_colors[title];
---

<Base title={title} accent={accent}>
    <Section title="Legal Notice">
        <div class="p-4">
            <P>Information in accordance with § 5 DDG</P>
            <P>
                Sebastian Schleemilch<br />
                <br />
                Herzogstrasse 84<br />
                80796 Munich <br />
            </P>
            <P>
                <strong>Represented by: </strong><br />
                Sebastian Schleemilch<br />
            </P>
            <P>
                <strong>Contact:</strong>
                <br />
                Phone: 0176-55553629<br />
                E-Mail: <a href="mailto:contact.sschleemilch@posteo.net">contact.sschleemilch@posteo.net</a>
            </P>
            <P>
                <strong>Responsible for the content according to § 18 Abs. 2 MStV:</strong><br />
                Sebastian Schleemilch <br />
                Herzogstrasse 84<br />
                80796 Munich <br />
            </P>
            <P>
                <strong>Disclaimer: </strong><br /><br /><strong>Liability for Content</strong><br /><br />
                The content of our pages has been created with the greatest care. However, we cannot guarantee the accuracy,
                completeness, and timeliness of the content. As a service provider, we are responsible for our own content
                on these pages in accordance with § 7 Abs.1 DDG under the general laws. According to §§ 8 to 10 DDG, we,
                as a service provider, are not obliged to monitor transmitted or stored third-party information or to investigate
                circumstances that indicate illegal activity. Obligations to remove or block the use of information under
                general laws remain unaffected. However, liability in this regard is only possible from the time of knowledge
                of a concrete legal infringement. Upon becoming aware of such legal infringements, we will remove this content
                immediately.<br /><br /><strong>Liability for Links</strong><br /><br />
                Our offer contains links to external third-party websites, on whose content we have no influence. Therefore,
                we cannot assume any liability for these external contents. The respective provider or operator of the pages
                is always responsible for the content of the linked pages. The linked pages were checked for possible legal
                violations at the time of linking. Illegal content was not recognizable at the time of linking. A permanent
                content control of the linked pages, however, is not reasonable without concrete evidence of a legal infringement.
                Upon becoming aware of legal infringements, we will remove such links immediately.
            </P><br />
            Created with the <a href="https://impressum-generator.de" rel="dofollow">Impressum-Generator</a> by WebsiteWissen.com,
            the guide for <a href="https://websitewissen.com/website-erstellen" rel="dofollow">website creation</a>, <a
                href="https://websitewissen.com/homepage-baukasten-vergleich"
                rel="dofollow">homepage builders</a
            > and <a href="https://websitewissen.com/shopsysteme-vergleich" rel="dofollow">shop systems</a>. Legal text
            by <a href="https://www.kanzlei-hasselbach.de/" rel="dofollow">Kanzlei Hasselbach</a>.
        </div>
    </Section>
</Base>
