---
import Base from "@layouts/Base.astro";
import page_colors from "@config/page_colors.json";
import Section from "@components/Section.astro";
import H1 from "@components/H1.astro";
import P from "@components/P.astro";

const title = "Impressum";
const accent = page_colors[title];
---

<Base title={title} accent={accent}>
    <Section>
        <H1> Impressum</H1><P>Angaben gemäß § 5 DDG</P><P>
            Sebastian Schleemilch<br />
            <br />
            Herzogstrasse 84<br />
            80796 München <br />
        </P><P>
            <strong>Vertreten durch: </strong><br />
            Sebastian Schleemilch<br />
        </P><P>
            <strong>Kontakt:</strong>
            <br />
            Telefon: 0176-55553629<br />
            E-Mail: <a href="mailto:contact.sschleemilch@posteo.net">contact.sschleemilch@posteo.net</a>
        </P></Section
    ><P>
        <strong>Verantwortlich für den Inhalt nach § 18 Abs. 2 MStV:</strong><br />
        Sebastian Schleemilch <br />
        Herzogstrasse 84<br />
        80796 München <br />
    </P>
    <P>
        <strong>Haftungsausschluss: </strong><br /><br /><strong>Haftung für Inhalte</strong><br /><br />
        Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität
        der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 DDG für eigene
        Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 DDG sind wir als Diensteanbieter
        jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen
        zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung
        von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch
        erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden
        Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.<br /><br /><strong>Haftung für Links</strong><br
        /><br />
        Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können
        wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige
        Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf
        mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine
        permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung
        nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
    </P><br />
    Erstellt mit dem <a href="https://impressum-generator.de" rel="dofollow">Impressum-Generator</a> von WebsiteWissen.com,
    dem Ratgeber für <a href="https://websitewissen.com/website-erstellen" rel="dofollow">Website-Erstellung</a>, <a
        href="https://websitewissen.com/homepage-baukasten-vergleich"
        rel="dofollow">Homepage-Baukästen</a
    > und <a href="https://websitewissen.com/shopsysteme-vergleich" rel="dofollow">Shopsysteme</a>. Rechtstext von der <a
        href="https://www.kanzlei-hasselbach.de/"
        rel="dofollow">Kanzlei Hasselbach</a
    >.
</Base>
