---
import Base from "@layouts/Base.astro";
import page_colors from "@config/page_colors.json";
import Section from "@components/Section.astro";
import H1 from "@components/H1.astro";
import P from "@components/P.astro";

const title = "Impressum";
const accent = page_colors[title];
---

<Base title={title} accent={accent}>
    <details>
        <summary>Deutsch</summary>
        <Section>
            <H1> Impressum</H1><P>Angaben gemäß § 5 DDG</P><P>
                Sebastian Schleemilch<br />
                <br />
                Herzogstrasse 84<br />
                80796 München <br />
            </P><P>
                <strong>Vertreten durch: </strong><br />
                Sebastian Schleemilch<br />
            </P><P>
                <strong>Kontakt:</strong>
                <br />
                Telefon: 0176-55553629<br />
                E-Mail: <a href="mailto:contact.sschleemilch@posteo.net">contact.sschleemilch@posteo.net</a>
            </P></Section
        ><P>
            <strong>Verantwortlich für den Inhalt nach § 18 Abs. 2 MStV:</strong><br />
            Sebastian Schleemilch <br />
            Herzogstrasse 84<br />
            80796 München <br />
        </P>
        <P>
            <strong>Haftungsausschluss: </strong><br /><br /><strong>Haftung für Inhalte</strong><br /><br />
            Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität
            der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 DDG für eigene
            Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 DDG sind wir als Diensteanbieter
            jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen
            zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der
            Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung
            ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von
            entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.<br /><br /><strong
                >Haftung für Links</strong
            ><br /><br />
            Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb
            können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist
            stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt
            der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung
            nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte
            einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend
            entfernen.
        </P><br />
        Erstellt mit dem <a href="https://impressum-generator.de" rel="dofollow">Impressum-Generator</a> von WebsiteWissen.com,
        dem Ratgeber für <a href="https://websitewissen.com/website-erstellen" rel="dofollow">Website-Erstellung</a>, <a
            href="https://websitewissen.com/homepage-baukasten-vergleich"
            rel="dofollow">Homepage-Baukästen</a
        > und <a href="https://websitewissen.com/shopsysteme-vergleich" rel="dofollow">Shopsysteme</a>. Rechtstext von
        der <a href="https://www.kanzlei-hasselbach.de/" rel="dofollow">Kanzlei Hasselbach</a>.
    </details>

    <details>
        <summary>English</summary>
        <Section>
            <H1> Legal notice</H1>
            <P>Information in accordance with § 5 DDG</P>
            <P>
                Sebastian Schleemilch<br />
                <br />
                Herzogstrasse 84<br />
                80796 Munich <br />
            </P>
            <P>
                <strong>Represented by: </strong><br />
                Sebastian Schleemilch<br />
            </P>
            <P>
                <strong>Contact:</strong>
                <br />
                Phone: 0176-55553629<br />
                E-Mail: <a href="mailto:contact.sschleemilch@posteo.net">contact.sschleemilch@posteo.net</a>
            </P>
        </Section>
        <P>
            <strong>Responsible for the content according to § 18 Abs. 2 MStV:</strong><br />
            Sebastian Schleemilch <br />
            Herzogstrasse 84<br />
            80796 Munich <br />
        </P>
        <P>
            <strong>Disclaimer: </strong><br /><br /><strong>Liability for Content</strong><br /><br />
            The content of our pages has been created with the greatest care. However, we cannot guarantee the accuracy,
            completeness, and timeliness of the content. As a service provider, we are responsible for our own content on
            these pages in accordance with § 7 Abs.1 DDG under the general laws. According to §§ 8 to 10 DDG, we, as a service
            provider, are not obliged to monitor transmitted or stored third-party information or to investigate circumstances
            that indicate illegal activity. Obligations to remove or block the use of information under general laws remain
            unaffected. However, liability in this regard is only possible from the time of knowledge of a concrete legal
            infringement. Upon becoming aware of such legal infringements, we will remove this content immediately.<br
            /><br /><strong>Liability for Links</strong><br /><br />
            Our offer contains links to external third-party websites, on whose content we have no influence. Therefore,
            we cannot assume any liability for these external contents. The respective provider or operator of the pages
            is always responsible for the content of the linked pages. The linked pages were checked for possible legal violations
            at the time of linking. Illegal content was not recognizable at the time of linking. A permanent content control
            of the linked pages, however, is not reasonable without concrete evidence of a legal infringement. Upon becoming
            aware of legal infringements, we will remove such links immediately.
        </P><br />
        Created with the <a href="https://impressum-generator.de" rel="dofollow">Impressum-Generator</a> by WebsiteWissen.com,
        the guide for <a href="https://websitewissen.com/website-erstellen" rel="dofollow">website creation</a>, <a
            href="https://websitewissen.com/homepage-baukasten-vergleich"
            rel="dofollow">homepage builders</a
        > and <a href="https://websitewissen.com/shopsysteme-vergleich" rel="dofollow">shop systems</a>. Legal text by <a
            href="https://www.kanzlei-hasselbach.de/"
            rel="dofollow">Kanzlei Hasselbach</a
        >.
    </details>
</Base>
