---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Base from "@layouts/Base.astro";
import Lines from "@components/Lines.astro";
import Details from "@components/Details.astro";
import P from "@components/P.astro";
import H1 from "@components/H1.astro";
import me from "@img/me.jpg";
import accents from "@config/accents.json";
import Sidenote from "@components/Sidenote.astro";
const title = "About";
const accent = accents[title];
---

<Base title={title} accent={accent}>
    <Lines>
        <Details>portfolio::blog</Details>
        <Sidenote accent={accent}>SEBASTIAN SCHLEEMILCH</Sidenote>
        <Lines>
            <H1>Welcome</H1>
        </Lines>
        <Lines add={["mt-12"]}>
            <div class="grid w-full grid-flow-dense grid-cols-2 gap-2 bg-gray-950/5 p-2 dark:bg-white/10">
                <div
                    class="h-116 isolate flex flex-col gap-2 overflow-hidden rounded-2xl p-2 outline dark:bg-gray-950 dark:outline-white/10 col-span-full md:col-span-1"
                >
                    <div class="grid size-full place-content-center">
                        <Image src={me} alt="Me" loading="eager" class="size-82 rounded-2xl" />
                    </div>
                </div>
                <div
                    class="isolate flex flex-col gap-2 overflow-hidden rounded-2xl p-2 outline dark:bg-gray-950 dark:outline-white/10 col-span-full md:col-span-1"
                >
                    <P>
                        Welcome to my corner of the internet!<br />
                        I am a passionate Software Researcher exploring the vast landscape of software technologies. This
                        space serves as a blog, showcasing my interests and projects that I believe are worth sharing.
                    </P>
                </div>
            </div>
        </Lines>
    </Lines>
</Base>
