---
interface Props {
  href: string;
  accent: string;
}

const { href, accent } = Astro.props;
---

<a
  href={href}
  class:list={[
    "relative inline-flex items-center justify-center px-3 py-2 font-pixel uppercase",
    `dark:text-${accent}`,
    `dark:hover:bg-${accent}`,
    "dark:hover:text-base",
  ]}
>
  <span class="pointer-events-none absolute top-0 left-[2px] right-[2px] h-[2px] bg-current"></span>
  <span class="pointer-events-none absolute bottom-0 left-[2px] right-[2px] h-[2px] bg-current"></span>
  <span class="pointer-events-none absolute left-0 top-[2px] bottom-[2px] w-[2px] bg-current"></span>
  <span class="pointer-events-none absolute right-0 top-[2px] bottom-[2px] w-[2px] bg-current"></span>
  <slot />
</a>
