---
interface Props {
    add?: string[];
}

const { add = [] } = Astro.props;
---

<div
    class:list={[
        "flex",
        "items-end",
        "font-mono",
        "text-xs/6",
        "whitespace-pre",
        "max-sm:px-4",
        "dark:text-white/25",
        "uppercase",
    ].concat(add)}
>
    <slot />
</div>
