---
import { Icon } from "astro-icon/components";
---

<footer class="px-4 text-subtle dark:text-subtleDark dark:border-mutedDark">
  <div class="mb-16"></div>
  <div class="items-center grid grid-cols-1 justify-between py-6 md:grid-cols-2">
    <p class="text-sm/6 max-md:text-center">&copy; 2024 Sebastian Schleemilch. All rights reserved.</p>
    <div
      class="flex text-2xl items-center justify-center gap-6 md:justify-end hover:text-text dark:hover:text-textDark"
    >
      <a href="https://github.com/sschleemilch/website.astro" aria-label="GitHub">
        <Icon name=`line-md:github-loop` />
      </a>
    </div>
  </div>
</footer>
