---
import { Icon } from "astro-icon/components";

interface Props {
  accent: string;
}

const { accent } = Astro.props;
---

<div class="fixed inset-x-0 z-10 border-b dark:bg-base dark:border-white/10">
  <div class="flex h-14 items-center justify-between gap-8 px-4 sm:px-6">
    <div class="flex items-center">
      <Icon name=`line-md:chevron-left` />
      <a href="/" aria-label="About" class:list={[`dark:text-${accent}`, "text-3xl", "dark:hover:text-text"]}>
        <Icon name="line-md:cog-filled-loop" />
      </a>
      <Icon name="line-md:chevron-right" />
    </div>
    <div class="flex items-center gap-6">
      <a class="text-sm/6 dark:text-text" href="/blog">Blog</a>
    </div>
  </div>
</div>
