---
import { Icon } from "astro-icon/components";
interface Props {
  accent: string;
}

const { accent } = Astro.props;
---

<div class="fixed inset-x-0 z-10 border-b dark:bg-base dark:border-white/10">
  <div class="flex h-14 items-center justify-between gap-8 px-4">
    <div class="text-2xl mx-auto flex items-center font-mono">
      <span class="text-subtle text-3xl">
        <Icon name="mdi:chevron-right" />
      </span>
      <a
        href="/"
        aria-label="About"
        class:list={[`dark:text-${accent}`, "dark:hover:text-text", "italic", "font-bold"]}
        id="logo"
      >
        schleemilch&nbsp;
      </a>
      <span class="text-subtle" id="cursor">_</span>
    </div>
  </div>
</div>

<script>
  const sleep = (time: number) => new Promise((resolve) => setTimeout(resolve, time));

  const logo = document.querySelector("#logo");
  const cursor = document.querySelector("#cursor");
  const text = "schleemilch";

  async function write() {
    for (let character of text) {
      logo.innerHTML += character;
      await sleep(50);
    }
    logo.innerHTML += "&nbsp;";
  }

  async function animate() {
    cursor.classList.add("blink");
    logo.innerHTML = "";
    await sleep(2000);
    cursor.classList.remove("blink");
    write();
  }

  animate();
</script>
