---
interface Props {
  accent: string;
}

const { accent } = Astro.props;
---

<div class="fixed inset-x-0 z-10 border-b dark:bg-base dark:border-white/10">
  <div class="flex h-14 items-center justify-between gap-8 px-4 sm:px-6">
    <div class="text-2xl mx-auto flex items-center">
      <span class="text-subtle">[</span>
      <a href="/" aria-label="About" class:list={[`dark:text-${accent}`, "dark:hover:text-text", "font-mono"]}>
        "SCHLEEMILCH"
      </a>
      <span class="text-subtle">]</span>
    </div>
  </div>
</div>
