---
import { Icon } from "astro-icon/components";

interface Props {
    accent: string;
}

const { accent } = Astro.props;
---

<div class="border-b dark:bg-gray-950 dark:border-white/10">
    <div class="flex h-14 items-center justify-between gap-8 px-4 sm:px-6">
        <div class="flex items-center">
            <Icon name=`line-md:chevron-left` />
            <a href="/" aria-label="About" class:list={[`dark:text-${accent}`, "text-3xl", "dark:hover:text-gray-300"]}>
                <Icon name=`line-md:beer-twotone-loop` />
            </a>
            <Icon name=`line-md:chevron-right` />
        </div>
    </div>
</div>
