---
interface Props {
  add?: string[];
}

const { add = [] } = Astro.props;

let classes = ["leading-7", "[&:not(:first-child)]:mt-6", "dark:text-subtle"].concat(add);
---

<p class:list={classes}>
  <slot />
</p>
