---
interface Props {
  add?: string[];
}

const { add = [] } = Astro.props;
---

<div class:list={["flex", "items-end", "font-pixel", "text-sm", "px-4", "dark:text-muted", "uppercase"].concat(add)}>
  <slot />
</div>
