---
import H1 from "@components/H1.astro";
interface Props {
    meta?: string;
    accent?: string;
    details?: string[];
    title?: string;
}

const { meta, accent = "red-400", details, title } = Astro.props;
---

{
    details && details.length && (
        <div
            class:list={[
                "flex",
                "items-end",
                "px-2",
                "font-mono",
                "text-xs/6",
                "whitespace-pre",
                "max-sm:px-4",
                "dark:text-white/25",
            ]}
        >
            {details.join(", ")}
        </div>
    )
}

<div
    class:list={[
        "after:-left-[100vw]",
        "after:absolute",
        "after:bottom-0",
        "after:h-px",
        "after:w-[200vw]",
        "before:-left-[100vw]",
        "before:absolute",
        "before:h-px",
        "before:top-0",
        "before:w-[200vw]",
        "dark:after:bg-white/10",
        "dark:before:bg-white/10",
        "relative",
    ]}
>
    {
        meta && (
            <div
                class:list={[
                    "2xl:after:hidden",
                    "after:-left-[100vw]",
                    "after:absolute",
                    "after:bottom-0",
                    "after:h-px",
                    "after:w-[200vw]",
                    "dark:after:bg-white/10",
                    "relative",
                ]}
            >
                <p
                    class:list={[
                        "-left-[var(--gutter-width)]",
                        "2xl:-rotate-90",
                        "2xl:-translate-x-full",
                        "2xl:-translate-y-full",
                        "2xl:absolute",
                        "2xl:text-right",
                        "font-mono",
                        "font-semibold",
                        "max-2xl:mb-4",
                        "max-2xl:px-2",
                        "max-sm:px-4",
                        "origin-bottom-right",
                        "sm:text-xs",
                        "text-left",
                        "text-sm",
                        "top-0",
                        "tracking-widest",
                        "uppercase",
                        `dark:text-${accent}`,
                    ]}
                >
                    {meta}
                </p>
            </div>
        )
    }
    {
        title && (
            <div
                class:list={[
                    "after:-left-[100vw]",
                    "after:absolute",
                    "after:bottom-0",
                    "after:h-px",
                    "after:w-[200vw]",
                    "dark:after:bg-white/10",
                    "relative",
                ]}
            >
                <h1
                    class:list={[
                        "lg:text-6xl",
                        "max-lg:font-medium",
                        "max-sm:px-4",
                        "px-2",
                        "sm:text-5xl",
                        "text-4xl",
                        "text-balance",
                        "tracking-tighter",
                        "xl:text-8xl",
                    ]}
                >
                    {title}
                </h1>
            </div>
        )
    }
    <div class="p-2">
        <slot />
    </div>
</div>
