---
interface Props {
    value: string;
    tagFilter?: string | undefined;
}

import page_colors from "@config/page_colors.json";
const accent = page_colors["Tags"];

const { value } = Astro.props;

var color = "subtle";

if (Astro.props.tagFilter != undefined) {
    if (Astro.props.tagFilter == value) {
        color = accent;
    }
}
---

<a
    href={`/tags/${value}`}
    class=`uppercase text-bg dark:text-bgDark px-2 bg-${color} dark:bg-${color}Dark text-xs font-medium me-2 px-2.5 py-0.5`
>
    {value}
</a>
