---
import "@fontsource/fira-code";
import "../styles/global.css";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
    title: string;
    accent: string;
}

const { title, accent } = Astro.props;
---

<script is:inline>
    const setTheme = () => {
        const theme = (() => {
            if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
                return localStorage.getItem("theme");
            }
            if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
                return "dark";
            }
            return "light";
        })();

        if (theme === "light") {
            document.documentElement.classList.remove("dark");
        } else {
            document.documentElement.classList.add("dark");
        }

        window.localStorage.setItem("theme", theme || "light");
    };

    setTheme();
    document.addEventListener("astro:after-swap", setTheme);
</script>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="title" content={`Schleemilch | ${title}`} />
        <meta name="description" content="Schleemilch | Tech | Portfolio | Blog" />
        <title>Schleemilch | {title}</title>
        <link rel="icon" type="image/svg" href="/favicon.svg" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <ClientRouter />
    </head>
    <body
        role="main"
        class="lg:my-8 max-w-[1200px] transition-colors container mx-auto font-body flex flex-col bg-bg dark:bg-bgDark text-text dark:text-textDark font-roboto border-2 xl:shadow-large xl:dark:shadow-largeDark dark:border-highlightHighDark border-highlightHigh"
    >
        <Header accent={accent} />
        <div class="px-4 flex-grow py-8 sm:py-12 lg:px-8">
            <slot />
        </div>
        <Footer />
    </body>
</html>
