---
import Base from "./Base.astro";
import Lines from "@components/Lines.astro";
import Prelude from "@components/Prelude.astro";
import Subtitle from "@components/Subtitle.astro";
import H1 from "@components/H1.astro";
import Button from "@components/Button.astro";
import accents from "@config/accents.json";
const { frontmatter } = Astro.props;

const title = "Post";
const accent = accents[title];
---

<Base title={title} accent={accent}>
  <Lines>
    <Prelude>TAGS [{frontmatter.tags.join(", ")}]</Prelude>
    <Subtitle accent={accent}>{frontmatter.pubDate.toString().slice(0, 15)}</Subtitle>
    <Lines>
      <H1>{frontmatter.title}</H1>
    </Lines>
    <slot />
  </Lines>
  <Lines>
    <div class="mx-4">
      <Button href="/blog">Back to Blog</Button>
    </div>
  </Lines>
</Base>
