---
import Base from "./Base.astro";
import Lines from "@components/Lines.astro";
import Details from "@components/Details.astro";
import Sidenote from "@components/Sidenote.astro";
import H1 from "@components/H1.astro";
import page_colors from "@config/page_colors.json";
const { frontmatter } = Astro.props;
const title = "Blog";
const accent = page_colors[title];
---

<Base title={title} accent={accent}>
    <Lines>
        <Details>{frontmatter.tags.join("::")}</Details>
        <Sidenote accent={accent}>{frontmatter.pubDate.toString().slice(0, 15)}</Sidenote>
        <Lines>
            <H1>{frontmatter.title}</H1>
        </Lines>
        <slot />
    </Lines>
</Base>
