---
import Base from "./Base.astro";
import Section from "@components/Section.astro";
import Button from "@components/Button.astro";
import page_colors from "@config/page_colors.json";
const { frontmatter } = Astro.props;
const title = "Blog";
const accent = page_colors[title];
---

<Base title={title} accent={accent}>
    <p class="text-subtle">{frontmatter.pubDate.toString().slice(0, 15)}</p>
    <slot />
    <Section>
        <Button href="/blog" color={accent} icon="mdi:arrow-left">Back to Blog</Button>
    </Section>
</Base>
